<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>summarizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/normalize.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!--<link rel="stylesheet" href="../stylesheets/footer.css">-->
    <link rel="stylesheet" href="../stylesheets/footer-distributed.css">
    
    
  </head>
  <body>
    <div class="sticky-footer-wrapper">
      <div class="masthead">
        <h1 class="title">Summarizer</h1>
        <p class="tagline">extract the essence of hundreds or thousands of Amazon reviews,</p>
        <p style="font-weight:bold;">in ten sentences!</p>

        <div class="Demo">
          <!--form action="https://twitter.com/search" method="get"> -->
            <!--<input type="hidden" name="mode" value="users">-->
            <div class="Typeahead Typeahead--twitterUsers"> 
              <div class="u-posRelative">
                <input class="Typeahead-hint" type="text" tabindex="-1" readonly>
                <input class="Typeahead-input" id="demo-input" type="text" name="q" placeholder="Search movies...">
                <img class="Typeahead-spinner" src="../images/spinner.gif">
              <!--</div> -->
              <div class="Typeahead-menu"></div> 
            </div> 
            <!--<button class="u-hidden" type="submit">blah</button> -->
          <!--/form> -->
        </div>
        

        
      </div>
      <div class="sticky-footer-push"></div>
    </div>
    
    
    
    <script id="result-template" type="text/x-handlebars-template">
      <div class="ProfileCard u-cf">
        
        <div class="ProfileCard-details">
          <div class="ProfileCard-realName">{{title}}</div>
        </div>
        
      </div>
    </script>
    
    <script id="empty-template" type="text/x-handlebars-template">
      <div class="EmptyMessage">Nothing found. Try another movie! </div>
    </script>
       
    
    <script id="summary-template" type="text/x-handlebars-template">
      <div class="Summary-10">
        <img src="../images/thumbsneutral.jpg"  height="20" width="20">
        <img src="../images/thumbsup.jpg"  height="20" width="20">
        <span style="font-weight:bold;">
           Summary of 3-5 star reviews:</span>
          <p>{{summary_nonneg}}</p>
      </div>
      <div class="Summary-10">
        <img src="../images/thumbsneutral.jpg"  height="20" width="20">
        <img src="../images/thumbsdown.jpg"  height="20" width="20">
        <span style="font-weight:bold;">
           Summary of 1-3 star reviews:</span>
          <p>{{summary_nonpos}}</p>
      </div>  
    </script> 
    
    <div id="summary"> </div>
   
    <footer class="footer-distributed">
      <div class="footer-center">

			  <div>
					<p><span>Data: 4.6 million reviews from the Amazon "Movies and TV"" category, spanning
             May 1996 - July 2014, as released here:
            <a href="http://jmcauley.ucsd.edu/data/amazon/links.html">Movies and TV Amazon review data</a></span>
            <span>Retained are only 8300 movies, singled out as having at least ten 1-3 and 3-5 star reviews.</span>
            <span> For movies with large number of reviews, only the 256 latest reviews are used for the summaries.</span>
            <span> Copyright:<img src ="../images/copyright.jpg" height="10" width="10">2016 GammaDynamics, LLC; <a href="mailto:info@gammadynamics.com">info@gammadynamics.com</a></span> </p>
				</div>
				
      </div>
	  </div>
   
    <script src="../javascripts/handlebars.js"></script>
    <script src="../javascripts/jquery-1.12.4.min.js"></script>
    <!--<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?ver=1.12.4'></script> -->
    <script src="../releases/typeahead.bundle.js"></script>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <script src="../javascripts/summary.js"></script>
    
  </body>
</html>
